
.action-btn--crimson {
  @extend %button;
  color: $main-white-color;
  background-color: $text-color-title;

  &:focus,
  &:hover {
    background-color: $background-hover;
  }
}

.action-btn--light {
  @extend %button;
  color: $text-color-title;
  background-color: $main-white-color;

  &:focus,
  &:hover {
    background-color: $background-reviews;
  }
}

.action-btn__icon {
  width: 10px;
  height: 10px;
  margin-left: 13px;
  margin-top: 1px;
  
}
