.backdrop {
  @extend %backdrop;
  padding: 40px;
  background-color: #fff5f6;
  transition: opacity 250ms $timing-function;
 

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop-des,
.backdrop-map {
@extend %backdrop;
  padding: 15px;
  background-color: rgb(255, 245, 246, 0.8);
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
}

.is-hidden-cow,
.is-hidden-map {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
